@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@600&display=swap');

body {
  background-color: #051716;
  color: #c7d6d5;
  font-family: 'Barlow', sans-serif;
  /* font-family: 'Space Grotesk', sans-serif; */
  line-height: 1.6em;
  font-size: 18px;
  margin: 0;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="2" height="2" fill="%230b1e1d"/></svg>');
  background-position: 50% 0%;
}

header {
  padding: 0 16px;
  /* margin: 32px 0 48px; */
  margin: 48px 0;
  text-align: center;
  animation: fadeIn 1600ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(8px);
    translate: 0 64px;
  }
  100% {
    opacity: 1;
    filter: unset;
    translate: 0 0;
  }
}

h1 {
  color: #ffffff;
  text-align: center;
  font-weight: lighter;
  text-decoration: underline;
  text-decoration-color: #7bd0b4;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  margin: 16px 0 8px;
}

small {
  color: #7c8f88;
  font-style: italic;
}

small a {
  color: #7bd0b4;
  text-decoration: none;
}
small a:hover,
small a:active {
  color: #7fffd4;
  text-decoration: underline;
}

main {
  max-width: 640px;
  margin: 0 auto 128px;
  padding: 0 16px;
  padding-top: env(safe-area-inset-top);
}

section {
  scroll-margin: 96px 0 0;
  opacity: 0.8;
  filter: blur(1px);
  transition: all 480ms;
}

section:last-child {
  opacity: 1;
  filter: none;
}

a.choice {
  text-decoration: none;
  display: inline-block;
  color: #7fffd4;
  background-color: transparent;
  padding: 4px 16px;
  border-radius: 4px;
  margin: 0 8px 6px 0;
  cursor: pointer;
  border: 2px solid #45524d;
}

@media (max-width: 480px) {
  a.choice {
    display: block;
    padding: 8px 16px;
    margin: 8px 0;
    text-align: center;
  }
}

a.choice:hover,
a.choice:active {
  color: #051716;
  background-color: #7fffd4;
  border: 2px solid #7fffd4;
}

p,
a.choice {
  opacity: 0;
  translate: 0 24px;
  transition: opacity 800ms, translate 400ms, color 100ms, border 100ms,
    background-color 200ms;
}

p.system {
  translate: -24px 0;
}

p.show,
a.choice.show {
  translate: 0 0;
  opacity: 1;
}

@keyframes pulse {
  0% {
    color: #ffd07f;
    text-shadow: 0 0 4px #ef9700;
  }
  30% {
    color: #ffe7bf;
    text-shadow: 0 0 12px #ef9700;
  }
  100% {
    color: #ffd07f;
    text-shadow: 0 0 4px #ef9700;
  }
}

p.system {
  /* color: #a57fff; */
  /* color: #ffda9b; */
  color: #ffd07f;
  /* font-family: 'Nova Mono', monospace; */
  font-family: 'Doto', monospace;

  font-size: smaller;
  text-transform: uppercase;
  margin: 0;
  padding-left: 1rem;
}

p.flash {
  color: #ffd07f;
  animation: pulse 1.2s ease-in-out infinite;
}
section:not(:last-child) p.system {
  color: #ffe1ae;
  animation: none;
}

p.fin {
  /* color: #7c8f88; */
  color: #44524f;
  font-style: italic;
  margin-top: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 2px;
}
